# Node.js dependencies
node_modules/

# Environment variable files
.env

# Build output
dist/
build/

/public/iamges

# Ignore the seed file
src/db/seed.ts

logs/
*.log

.vscode/

.DS_Store

# TypeScript cache
*.tsbuildinfo
